body{
    margin: 0 auto;
    background-color: #3c5d64 ;
    
}
.container{
    width: 1000px;
    height: auto;
    margin: auto;
    background-color: #89b0ae;

}
.logo{
    float: left;
   padding:12px;

}
.search
{
    float: right;
    padding:12px;

}
.clearfix{
    clear: both;
}
.main_menu
{
    background-color: #b8d8d8;
}
.main_menu>ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.main_menu>ul>li{
    display: inline-block;
    
}
.main_menu>ul>li>a{
    color: #003249;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    font-size:medium;
    
}
.main_menu>ul>li>a:hover{
    background-color: #fcca46;
    /* font-size: larger; */
}

.sublist{
    list-style-type: none;
    margin:0px;
    padding: 0px;
    position: absolute;
    display: none;
    z-index: 999;
}
.sublist>li>a{
    color: #003249;
    background-color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-family: sans-serif;
    font-size:medium;
    
}
.sublist>li>a:hover{
    background-color: #fcca46;
    
}
.main_menu>ul>li:hover .sublist{
    display: block;
}
/* banner */
.banner{
width: 1000px;
height: 562.5px;
overflow: hidden;
}

.banner>img{
    width: 100%;
    height: auto;
}
/* content holder */
.contentHolder{
    background-color: #fcca46;
}
.content{
    width: 700px;
    height: auto;
    padding: 25px;
    background-color: #b8d8d8;
    float: left;
    font-family: sans-serif;
}
.content h1{
    font-family: sans-serif;
    font-size: 1.5em;
    font-style: bold;
}
.content p{
    font-family: sans-serif;
    font-size: small;
    line-height: 2em;
    word-spacing: 0.2em;
    font-style: oblique;
}
 .sideBar{
    float: left;
    padding: 25px;
 }
 .sideBar h3{
     font-family: sans-serif;
     color: #003249;
     font-weight: bold;
 }
 .sideBar ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
 }
 .sideBar ul>li>a
 {
     display: block;
     color: #3c5d64;
     margin-bottom: 5px;
     font-family: sans-serif;
     font-weight: bolder;
     font-size: medium;
     text-decoration: none;
 }
 .sideBar ul>li>a:hover{
     font-size: large;
     
 }
 .main-footer{
     background-color: #233d4d;
     color: white;
     width: 950px;
     height: auto;
     padding: 25px;
    
 }
 .footer-box{
     width: 237.5px;
     height: auto;
     float: left;
     font-family: sans-serif;
 }
 .footer-box ul{
     list-style-type: none;
     margin: 0px;
     padding: 0px;
 }
 .footer-box ul li a{
     display: block;
     color: whitesmoke;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: small;
 }
 .footer-box ul li :hover{
    color: #fcca46;
  
}
.footer-box address a{
    color: aliceblue;
    font-size: medium;
    text-decoration: none;
}
.footer-box p{
    font-size: medium;
}
.copy{
    font-family: sans-serif;
    color: #003249;
    background-color: #89b0ae;
    text-align: center;
    font-size: medium;
    padding: 15px;
}
.copy p{
    margin: 0px;
}
.content img{
    width: 100%;
    height: auto;
}
.product{
    width: 210.333px;
    height: auto;
    float: left;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.product img{
    width: 100%;
    height: auto;
}
.product-caption p{
    font-weight: bold;
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
    font-style: normal;
    text-shadow: 1px 9px 9px black;

}
.product-caption a{
    display: block;
    background-color: #003249;
    color: aliceblue;
    text-decoration: none;
    font-family: sans-serif;
    padding: 8px;
    font-size: medium;
    font-style: normal;
}
.product-caption a:hover{
    background-color: #fcca46;
    color: #003249;
}
.product-caption del{
    color: red;
}
.product-caption ins{
    color: green;
}
.banner iframe{
    width: 100%;
    height: 562.5px;
}